# emacs temps
*~
.*
\#
botadero/*~

# python
*.pyc
botadero/*.pyc

# archivos serializados
*.pkl

# archivos subidos
almacen/

# virtual env
venv/

# archivos log
*.log.*
logs/

# autosaves dia
*.autosave

.gitignore
