# emacs temps
\#*\#
*~
.*
\#
botadero/*~
*sqlite3

# python
*.pyc
botadero/*.pyc

# archivos serializados
*.pkl

# archivos subidos
almacen/

# virtual env
venv/

# archivos log
*.log.*
logs/

# autosaves dia
*.autosave

# configs prod
botadero/configs/configs.py
# configs dev
botadero/configs/configsDevelopment.py

.gitignore
