<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- This file is part of "el Botadero"
     Copyright Rodrigo Garcia 2020 <strysg@riseup.net>
     AGPL liberated
-->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='botadero_resources/favicon.png') }}">
    <title>{{ dv['title'] }}</title>
    {% set archivo_esquema_colores = "css/" + dv['esquemaColores'] + "/base.css" %}
    <link rel="stylesheet" href="{{ url_for('static', filename=archivo_esquema_colores) }}" type="text/css" />
  </head>

  <body>
    <h1>{{ dv['title'] }}</h1>
    <div class="qu">
      Un sitio para <b>compartir</b> archivos.
    </div>

    <h3>Descargar archivo protegido: <code>{{ dv['nombreArchivo'] }}</code></h3>
    <div>
      <form method="POST" id="download_protected" action="/{{ dv['categoriaActual'] }}/download_protected">
        <label for="pwd">Contraseña:</label>
        <input type="text" id="nombre_archivo_protegido" name="nombre_archivo_protegido" hidden value="{{ dv['nombreArchivo'] }}">
        <input style="border-style: solid; border-color: black;" type="password" id="nombre_archivo_protegido" name="pwd_archivo" minlength=1>
        <!-- descargar -->
        <label id="pwd_msj_download"></label>
        <div>
          <!-- <input type="submit" class="btn large" value="descargar"/> -->
          <input type="submit" class="btn large" value="descargar" />
        </div>
      </form>
    </div>
    <!-- Categorias -->
    <span id="categoria_actual" value="{{ dv['categoriaActual'] }}" hidden>{{ dv['categoriaActual'] }}</span>

    <div id="categorias">
      {% for catName, catDetails in dv['catStats'].items() %}
	{% if catName == 'Misc.' %}
	  <span {% if catName == dv['categoriaActual'] %}class="categoria"{% endif %}><a href="/">#{{ catName }}</a>({{ catDetails['filesNumber']}})</span>
	  <br><br>
	{% else %}
	  <span {% if catName == dv['categoriaActual'] %}class="categoria"{% endif %}><a href="/{{ catName }}/">#{{ catName }}</a>({{ catDetails['filesNumber']}}) </span>
	  <br><br>
	{% endif %}
      {% endfor %}
    </div>

    <div class="qu">
      " La sabiduría crece cuando se comparten los conocimientos "
      <p> <a href="https://notabug.org/strysg/botadero">Código fuente</a> de esta aplicación.</p>
    </div>
    </div>
  </body>
</html>
