<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		 <link rel="shortcut icon" href="../static/botadero_resources/favicon.png">
		<title>Archivador temporal para compartir archivos</title>
		<link rel="stylesheet" href="../static/{{ esquema_colores }}/base.css" type="text/css" />

	</head>
	<body>

		<h1>"El botadero"</h1>
		<div class="qu">
			Un sitio <b>público</b> para compartir archivos	
		</div>
		
	<!-- Categorias -->	
	<div id="categorias">
		{% for cat in categorias %}
			{% if cat == categoria_actual %}
				{% if cat == "Misc." %} <!-- Dummy -->
					<span class="categoria"><a href="/" > #Misc.</a></span>
				{% else %}
					<span class="categoria"><a href="/{{ categoria_actual }}/" > #{{ categoria_actual }}</a></span>
				{% endif %}			
			{% else %}
				{% if cat == "Misc." %} <!-- Dummy -->
					<a href="/" > #Misc.</a>
				{% else %}
					<a href="/{{ cat }}/" > #{{ cat }}</a>
				{% endif %}
			{% endif %}
			,
		{% endfor %}
	</div>
	
	<!-- Subida de archivos -->		
	<div class="nota"> 
	{% if categoria_actual == "Misc." %}
		<form method="post" id="upload_file" action="/almacen/upload_file" enctype="multipart/form-data">
	{% else %}
		<form method="post" id="upload_file" action="/almacen/{{ categoria_actual }}/upload_file" enctype="multipart/form-data">	
	{% endif %}
			<input type="file" name="file"/>
			<input type="submit", class="btn", value="Compartir archivo"/>
				<p>Los archivos se eliminan después de {{ borrar_1 }} a {{ borrar_2 }} días, dependiendo su tamaño.
					 <a href="/info" >ver información</a>
				 </p>
		</form>	
	</div>	
		
	<!-- Estadisticas generales -->
	Disponibles {{ esp_disp }} MB (<b>{{ p_disp }} %</b>) Total de <b>{{ num_arch }}</b> archivos
	
	<!-- Listado de Archivos -->	
	<table id="lista_archivos">
		<tr>
			<td class="nombres">Archivos compartidos en <b>{{ categoria_actual }}</b></td>	
			<td class="tam">TAMAÑO</td>
			<td class="dias_restantes">Días para borrado</td>
		</tr>
		{% for reg_arch in lista_archivos|reverse %}
		<tr>
			{% if categoria_actual != "Misc." %}
				<td class="nombres"><a href="/{{ reg_arch[0] }}/{{ categoria_actual }}/{{ reg_arch[1] }}">{{ reg_arch[1] }}</a>
			{% else %}
				<td class="nombres"><a href="/{{ reg_arch[0] }}/{{ reg_arch[1] }}">{{ reg_arch[1] }}</a>
			{% endif %}
			<td class="tam"> {{ reg_arch[2] }} </td>
			<td class="dias_restantes">
			{% if reg_arch[3]|int >= 10 %}
				<span id="dias_muchos" > {{ reg_arch[3] }} </span>
			{% elif reg_arch[3]|int < 10 and reg_arch[3]|int > 3 %}
				<span id="dias_moderados" > {{ reg_arch[3] }} </span>
			{% elif reg_arch[3]|int <= 3 %}
				<span id="dias_pocos" > {{ reg_arch[3] }} </span>
			{% endif %}
			</td>
		</tr>
		{% endfor %}

	</table>
	<!-- Categorias -->	
	<div id="categorias">
		{% for cat in categorias %}
			{% if cat == categoria_actual %}
				{% if cat == "Misc." %} <!-- Dummy -->
					<span class="categoria"><a href="/" > #Misc.</a></span>
				{% else %}
					<span class="categoria"><a href="/{{ categoria_actual }}/" > #{{ categoria_actual }}</a></span>
				{% endif %}			
			{% else %}
				{% if cat == "Misc." %} <!-- Dummy -->
					<a href="/" > #Misc.</a>
				{% else %}
					<a href="/{{ cat }}/" > #{{ cat }}</a>
				{% endif %}
			{% endif %}
			,
		{% endfor %}
	</div>
	
	<!-- Notas al pie -->
	<div class="nota">
	<p>Revisa las <a href="/estadisticas" > estadisticas </a> de los archivos.
	</p>
	</div>
	
	<!-- Notas al pie -->
	<div class="qu">
		<p>Compartir es bueno</p>
		<p> <a href="https://notabug.org/r00thouse/botadero">Código fuente</a> de esta aplicación.  </p>
	</div>
	</body>

</html>
