<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		 <link rel="shortcut icon" href="../static/botadero_resources/favicon.png">
		<title>Archivador temporal para compartir archivos</title>
		<link rel="stylesheet" href="../static/{{ esquema_colores }}/base.css" type="text/css" />

	</head>
	
	<body>

	<h1>"El botadero"</h1>
		<div class="qu">
			Un sitio <b>público</b> para compartir archivos	
		</div>

	<!-- Categorias -->	
	<div id="categorias">
	  {% for cat_na in categorias_con_nums %}
		{% if cat_na[0] == categoria_actual %}
		  {% if cat_na[0] == "" %} <!-- Dummy -->
	            <span class="categoria"><a href="/" > #Misc.</a>({{ cat_na[1] }})</span>
		  {% else %}
  		    <span class="categoria"><a href="/{{ categoria_actual }}/" > #{{ categoria_actual }}</a>({{ cat_na[1] }})</span>
		  {% endif %}			
		{% else %}
		    {% if cat_na[0] == "" %} <!-- Dummy -->
	               <a href="/" > #Misc.</a>({{ cat_na[1] }})</span>
		    {% else %}
  		       <a href="/{{ cat_na[0] }}/" > #{{ cat_na[0] }}</a>({{ cat_na[1] }})</span>
		    {% endif %}			
		{% endif%}
	  {% endfor %}
	</div>

	<!-- Subida de archivos -->		
	<div class="nota"> 
	{% if categoria_actual == "" %}
		<form method="post" id="upload_file" action="/almacen/upload_file" enctype="multipart/form-data">
	{% else %}
		<form method="post" id="upload_file" action="/almacen/{{ categoria_actual }}/upload_file" enctype="multipart/form-data">	
	{% endif %}
			<input type="file" name="file"/>
			<input type="submit", class="btn large", value="Compartir archivo"/>
				<p>Los archivos se eliminan después de {{ borrar_1 }} a {{ borrar_2 }} días, dependiendo su tamaño.
					 <a href="/info" >ver información</a>
				 </p>
		</form>	
	</div>	

	<p>
	<!-- Estadisticas generales -->
	{{ esp_disp }} MB disponibles (<b>{{ p_disp }} %</b>) Total de <b>{{ num_arch }}</b> archivos
	</p>

	<!-- Listado de Archivos -->	
	<div class="caja_lista_archivos">
	{% for reg_arch in lista_archivos|reverse %}
			<p class="lista_archivos_elemento">
				{% if categoria_actual != "" %}
					<a href="/{{ reg_arch[0] }}/{{ categoria_actual }}/{{ reg_arch[1] }}">
					{# Puede servir para partir archivos con nombre grande #}				
					{# {% for c in reg_arch[1] %}{% if loop.index % 37 == 0 %}<br>{% endif %}{{ c }}{% endfor %} #}
				{% else %}
					<a href="/{{ reg_arch[0] }}/{{ reg_arch[1] }}">
					{# Puede servir para partir archivos con nombre grande #}				
					{# {% for c in reg_arch[1] %}{% if loop.index % 37 == 0 %}<br>{% endif %}{{ c }}{% endfor %} #}
				{% endif %}
				{{ reg_arch[1] }}
				</a>
			<span class="label">{{ reg_arch[2] }}</span>
			

			{% if reg_arch[3]|int >= 10 %}
				<span class="label success" > {{ reg_arch[3] }} días</span>
			{% elif reg_arch[3]|int < 10 and reg_arch[3]|int > 3 %}
				<span class="label warning" > {{ reg_arch[3] }}  días</span>
			{% elif reg_arch[3]|int <= 3 %}
				<span class="label important" > {{ reg_arch[3] }}  días</span>
			{% endif %}

			</p>	
		
	{% endfor %}
	</div>
	<br>
	<!-- Categorias -->	
	<div id="categorias">
	  {% for cat_na in categorias_con_nums %}
		{% if cat_na[0] == categoria_actual %}
		  {% if cat_na[0] == "" %} <!-- Dummy -->
	            <span class="categoria"><a href="/" > #Misc.</a>({{ cat_na[1] }})</span>
		  {% else %}
  		    <span class="categoria"><a href="/{{ categoria_actual }}/" > #{{ categoria_actual }}</a>({{ cat_na[1] }})</span>
		  {% endif %}			
		{% else %}
		    {% if cat_na[0] == "" %} <!-- Dummy -->
	               <a href="/" > #Misc.</a>({{ cat_na[1] }})</span>
		    {% else %}
  		       <a href="/{{ cat_na[0] }}/" > #{{ cat_na[0] }}</a>({{ cat_na[1] }})</span>
		    {% endif %}			
		{% endif%}
	  {% endfor %}
	</div>


	<!-- Notas al pie -->
	<div class="nota">
	<p>Revisa las <a href="/estadisticas" > estadisticas </a> de los archivos.
	</p>
	</div>
	
	<!-- Notas al pie -->
	<div class="qu">
		Compartir es bueno
		<p> <a href="https://notabug.org/r00thouse/botadero">Código fuente</a> de esta aplicación.</p>
	</div>


	</body>

</html>
