<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/static/botadero_resources/favicon.png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/{{ esquemaColores }}/base.css" type="text/css" />
  </head>
  <body>
    <h1><a href="/">"{{ title }}"</a></h1>
    <div class="qu">
      Un sitio <b>público</b> para compartir archivos temporalmente
    </div>
    
    <h2>{{ title }}</h2>
    <p>El "{{ title  }}" es una <q>carpeta</q> pública donde cualquier persona puede subir archivos y descargarlos. Los archivos
      aquí tienen un límite de permanencia (<strong>{{ limites[0][1] }}</strong>  a <strong>{{ limites[-1][1] }}</strong> {{ timeUnit }}) pero no hay límites de velocidad de descarga.
    </p>
    <h2>¿Por qué se borran los archivos?</h2>
    <p>La principal razón es para <b>ahorrar espacio de almacenamiento</b>, este servidor ha dispuesto <strong>{{ storageTotal }}</strong> en total para almacenar archivos.</p>
    
    <h2>Criterios de borrado de archivos</h2>
    <p>Usualmente los archivos desaparecen dependiendo de su tamaño:</p>
    <ul>
      {% for limite in limites %}
        {% if loop.index == loop.length %}
          <li>De <code>0</code> a <code>{{ limite[0] }} en {{ limite[1] }} {{ timeUnit }}</code>.
        {% else %}
            {% if loop.index == 1 %}
              <li>
                Mayores de <code>{{ limites[loop.index][0] }}</code> hasta <code>{{ limite[0] }}</code>
                en {{ limite[1] }} {{ timeUnit }}.
              </li>
            {% else %}
              <li>
                De <code>{{ limites[loop.index][0] }}</code>
                hasta <code>{{ limites[loop.index-1][0] }}</code>
                en {{ limite[1] }} {{ timeUnit }}.
              </li>
            {% endif %}
        {% endif %}

      {% endfor %}
    </ul>
    <p>No se aceptan archivos mayores a {{ limites[0][0] }}.</p>
    
    <p>Cuando un archivo se borra, sus registros en el servidor tambíen se eliminan.</p>
    
    <h2 id="protegidos">Archivos protegidos</h2>
    <p>Al subir archivos puedes escoger <strong>protegerlos con una contraseña</strong> y solo quienes conozcan la contraseña podrán descargarlos. Recuerda que los archivos <strong>no se cifran</strong> en el servidor al guardarlos con contraseña.</p>
    <p>Te recomendamos que no subas archivos secretos ya que el administrador del sitio podría verlos y si alguien averigua la contraseña con la que lo subes también podría hacerlo. Para archivos secretos, es mejor que los cifres por tu cuenta o uses medios más seguros.</p>
    <h2 id="duplicados">¿Qué pasa con los archivos duplicados?</h2>
    <p>Se rechazan los archivos subidos que tengan un nombre igual a algún otro que ya exista.
      También rechaza los archivos que se detecten sean iguales en contenido a otro que ya exista,
      tengan el mismo nombre o no.</p>
    
    <h2>No se guardan registros de los usuarios</h2>
    <p>Cuando subes un archivo, la aplicación no guarda datos relacionados a tu dirección IP o computadora.</p>

    <h2>Espacio público</h2>
    <p>
      Recuerda que este es un espacio público, por tanto debes considerar.
    </p>
    <ul>
      <li>No se filtra por sí solo el contenido</li>
      <li>Los archivos permanecen en el servidor hasta que cumple su tiempo de vida o un administrador los borra.</li>
      <li>Los archivos subidos no son cifrados, el administrador puede verlos.</li>
    </ul>
    <h2>Contenido prohibido</h2>
    <p>Existen algunos tipos no admitidos:</p>
    <ul>
      <!-- <li>Contenido para adultos de todo tipo</li> -->
      <li>Archivos que hagan referencia a delitos o actividad ilegal (en el país donde este instalado el servidor)</li>
    </ul>
    <p>El administrador del sitio tiene la última decisión sobre la permanencia de un archivo particular y también tiene pleno acceso a todos.</p>
    <!-- Notas al pie -->

    <h2>Instala tu propia instancia</h2>
    <p>Esta aplicación web es libre y puedes instalarla en tu propio servidor, revisa el <a href="https://notabug.org/strysg/botadero/src/master/docs/INSTALL.es.md">manual de instalación</a>— si programas en python y/o javascript se agradecerán tus aportes para mejorar el sitio B)</p>

    <p>Cuida este espacio para que siga funcionando por que <b>compartir es bueno</b>.</p>

    <!-- Notas al pie -->
    <div class="qu">
      " Compartir es bueno " 
      <p> <a href="https://notabug.org/strysg/botadero">Código fuente</a> de esta aplicación.</p>
    </div>
  </body>
</html>
