/*
  BOTADERO
*/

h1{
	font-family: serif;
	font-size: 24px;
	color: #23261C;
	text-align: center;
}

body {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-top: 10px;
    background-color: #C1AE94;/* c */
    background-image: url("../botadero_resources/logo.png");
    background-repeat: no-repeat;
    background-size: 80px;
    font-family: Helvetica;
    font-size: 15px;
}

.qu {
    padding: 3px;
    font-size: 16px;
    color: #3C2714; /*  c */
    font-family: serif;
    font-style: italic;
    text-align: center;
}

.nota {
	font-size: 15px;
	color: #524529; /* c */
	font-family: sans-serif;
}

.btn {
	padding 5px;
	font-weight: bold;
}

#lista_archivos{
	/*position:  absolute;*/
	padding: 2px;
	max-width: 98%;
	word-wrap: break-word;
	line-height: 167%;	/* Interlineado */
	background-color: #A8874A; /* c */
	font-family: monospace;
	font-size: 14px;
	border-style: solid;
	border-color: #BB722F;
}

td.nombres{
	width: 79%;
	word-wrap: break-word;
	/*background-color: #CABFA3;*/
	background-color: #9E8658; /* c */
	font-style: inherit;
	max-width: 77%;
	min-width: 11%;
}

td.tam{
	width: 9%;
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
}

td.dias_restantes{
	width: 9%;
	font-size: 14px;
	font-weight: bold; 
}

#dias_muchos{
	color: #3D713D;
	font-weight: normal;
}

#dias_moderados{
	color: #5C4C2B;
	font-weight: bold;
}

#dias_pocos{
	color: #DD1719;
	font-weight: bolder;
}

a{
	/*color: #1D1C14;*/
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 1px;
	border-bottom: 1px #7A6D52; /* c */
	border-bottom-style: dotted;
	color: #311C07; /* c */
}

a:hover {
	font-weight: bolder;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

#categorias{
	padding-top: 5px;
	padding-bottom: 7px;
}

.categoria{
	font-size: 21px;
}