/*
  BOTADERO
*/

h1{
	font-family: serif;
	font-size: 24px;
	color: #23261C;
	text-align: center;
}

body {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 10px;
    background-color: #E0DAC2;
    font-family: Helvetica;
    font-size: 15px;
}

.qu {
    padding: 3px;
    font-size: 16px;
    color: #313524;
    font-family: serif;
    font-style: italic;
    text-align: center;
}

#espacio_disponible{
	font-size: 12px;
	color: #58605A;
	/*color: #586C6A;*/
}

.nota {
	font-size: 17px;
	color: #58605A;
	font-family: sans-serif;
}

.btn {
	padding 5px;
	font-weight: bold;
}

#lista_archivos{
	position:  absolute;
	padding: 2px;
	line-height: 157%;	/* Interlineado */
	width: 94%;
	background-color: #D1C7AE;
	font-family: monospace;
	font-size: 14px;
	border-style: dotted;
	border-color: #C8B7A8;
}

a:hover {
	font-weight: bold;
	}
	
a{
	color: #F55B0A;
}
