/*
  BOTADERO
*/

h1{
	font-family: serif;
	font-size: 24px;
	color: #23261C;
	text-align: center;
}

body {
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #E0DAC2;
    font-family: Helvetica;
    font-size: 15px;
}

.qu {
    padding: 3px;
    font-size: 16px;
    color: #313524;
    font-family: serif;
    font-style: italic;
    text-align: center;
}

.nota {
	font-size: 15px;
	color: #58605A;
	font-family: sans-serif;
}

.btn {
	padding 5px;
	font-weight: bold;
}

#lista_archivos{
	/*position:  absolute;*/
	padding: 2px;
	max-width: 98%;
	line-height: 167%;	/* Interlineado */
	background-color: #D1C7AE;
	font-family: monospace;
	font-size: 14px;
	border-style: dotted;
	border-color: #C8B7A8;
}


table.ls_archivos{
	padding: 2px;
	position: absolute;
	width: 97%;
	border-style: dotted;
	border-color: #C8B7A8;
	line-height: 162%; /* Interlineado */
	background-color: #D1C7AE;
	font-family: monospace;
}

td.nombres{
	width: 79%;
	word-wrap: break-word;
	background-color: #CABFA3;
	font-style: inherit;
	max-width: 77%;
	min-width: 11%;
}

td.tam{
	width: 9%;
	font-size: 14px;
	font-family: sans-serif;
	text-align: center;
}

td.dias_restantes{
	width: 9%;
	font-size: 14px;
	font-weight: bold; 
}

#dias_muchos{
	color: #287528;
	font-weight: normal;
}

#dias_moderados{
	color: #7D5A23;
	font-weight: bold;
}

#dias_pocos{
	color: #DD1719;
	font-weight: bolder;
}

a{
	color: #CA3E19	;
	text-decoration: none;
	font-weight: normal;
	padding-bottom: 1px;
	border-bottom: 1px #867F6E;
	border-bottom-style: dotted;
	/*color: #F55B0A;*/
}

a:hover {
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
}
