<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Archivador temporal para compartir archivos</title>
		<link rel="stylesheet" href="../static/base.css" type="text/css" />

	</head>
	<body>

		<h1>"El botadero"</h1>
		<div class="qu">
			Un sitio <b>público</b> para compartir archivos	
		</div>
		
	<!-- Subida de archivos -->		
	<div class="nota">
		<form method="post" id="upload_file" action="upload_file" enctype="multipart/form-data">			
			<input type="file" name="file"/>
			<input type="submit", class="btn", value="Subir archivo"/>
				<p>Los archivos se eliminan después de {{ borrar_1 }} a {{ borrar_2 }} días, dependiendo su tamaño
					 <a href="info" >¿por qué? </a>
				 </p>
		</form>	
	</div>	
		
	<!-- Estadisticas generales -->
	Disponibles {{ esp_disp }} MB (<b>{{ p_disp }} %</b>) Total de <b>{{ num_arch }}</b> archivos
	
	<!-- Listado de Archivos -->	
	<table id="lista_archivos">
		<tr>
			<td class="nombres">ARCHIVO</td>	
			<td class="tam">TAMAÑO</td>
			<td class="dias_restantes">Días para borrar archivo</td>
		</tr>
		{% for reg_arch in lista_archivos|reverse %}
		<tr>
			<td class="nombres"><a href="{{ reg_arch[0] }}/{{ reg_arch[1] }}">{{ reg_arch[1] }}</a>
			<td class="tam"> {{ reg_arch[2] }} </td>
			<!-- variar colores (dias<3= rojo-gris, 3<dias<7= gris, dias>7=verde-gris) -->
			<td class="dias_restantes">{{ reg_arch[3] }}</td>
		</tr>
		{% endfor %}

	</table>

	<!-- Notas al pie -->
		
	</body>

</html>
