###### Archivo de configuración (desarrollo) del Botadero ######
APPLICATION_TITLE = 'Almacén de archivos'

# Tamaño máximo en bytes que se puede almacenar
# (para este ejemplo se usa 12.5 GB)
TOTAL_STORAGE = 12500000000

# Directorio se almacenan los archivos compartidos
UPLOAD_DIRECTORY = "almacen"

# Objeto que define Tamaño de archivos a considerar (en Bytes) y en cuantas unidades de tiempo borrarlos.
# En este este ejemplo se definen cuatro tamaños a considerar (9MB, 20MB, 40MB y 220 MB
SIZE_LIMITS_AND_TIME_TO_DELETE = [
    ('9000000', 16),
    ('200000000', 11),
    ('400000000', 8),
    ('2200000000', 5)
]

# Unidad de tiempo para manejar los archivos posibles: day, minute, second
TIME_UNIT = 'day'

# Nivel de verbosidad para guardar registros de eventos
# 'CRITICAL', 'ERROR', 'WARNING', 'INFO', 'DEBUG', 'NOSET'
LOG_LEVEL = 'WARNING'

# Nivel de verbosidad para guardar registros de eventos
# 'CRITICAL', 'ERROR', 'WARNING', 'INFO', 'DEBUG', 'NOSET'
LOG_LEVEL = 'WARNING'

# Poner en True si se acumularán logs también en 
LOG_TODISK = True

# Archivo de configuración ruta completa (la ruta relativa raíz es donde esta el archivo botadero.py)
LOG_FILENAME = 'logs/logs.log'

# True fuerza la comprobación, False cancela la comprobación al subir archivos
DIGEST_CHECK = True

# El algoritmo para hacer la comprobación hash, se puede usar 'md5', 'sha1', 'sha224', 'sha384', 'sha256', 'sha512'
DIGEST_ALGORITHM = 'sha1'

# Acelera la comprobación hash leyendo sólo porciones de cada archivo.
DIGEST_ACCELERATED = False

# Si se puede usar passwords al subir archivos.
# cuando se usa password, se puede marcar el archivo para borrarlo siempre y cuando se introduzca el mismo password que se usó para subirlo.
PASSWORD_USE = False

# Usar un reto captcha al subir archivos
CAPTCHA_USE = False

# Estilos css
# En la lista se ponen los nombres estilos css que la aplicacion puede seleccionar, las carpetas con los css deben estar dentro de botadero/static/css
CSS_SCHEMES = ('gris1', 'verde1', 'azul1', 'amarillo1', 'rojo1', 'cafe1')

######### Opciones de configuración de FLASK ##########

# cuando se pone la app en produccion Usar DEBUG = False
DEBUG = False
SECRET_KEY = 'cambiar una buena llave para produccion'
